In [1]:
%pip install pandas 

import pandas as pd
import sqlite3
import jieba

Requirement already satisfied: pandas in e:\softwares\apps\miniconda3\envs\myse\lib\site-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in e:\softwares\apps\miniconda3\envs\myse\lib\site-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in e:\softwares\apps\miniconda3\envs\myse\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in e:\softwares\apps\miniconda3\envs\myse\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in e:\softwares\apps\miniconda3\envs\myse\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
data = pd.read_csv("./data/wukong50k_release.csv")

In [21]:
def check_contain_chinese(check_str):
    for ch in check_str:
        if u'\u4e00' <= ch <= u'\u9fff':
            return True
        if "a" <= ch <= "z" or "A" <= ch <= "X":
            return True
        if "0" <= ch <= "9":
            return True
    return False

In [22]:
data2 = []
for d in data.itertuples():
    title = d[2]
    url = d[1]
    cut = jieba.cut(title)
    keyword = ""
    for c in cut:
        if check_contain_chinese(c):
            keyword += " " + c
    keyword = keyword.strip()  
    data2.append([title, keyword, url])

In [ ]:
data2

In [ ]:
data3 = pd.DataFrame(data2, columns=["title", "keyword", "url"])
data3

In [25]:
data3.to_csv("./data/cleaned_database.csv", index=False)

In [26]:
for line in data3.itertuples():
    title, keyword, url = line[1],line[2],line[3]
    print(title)
    print(keyword)
    print(url)
    break

美沃可视数码裂隙灯,检查眼前节健康状况
美沃 可视 数码 裂隙 灯 检查 眼前 节 健康状况
https://gimg2.baidu.com/image_search/src=http%3A%2F%2F5b0988e595225.cdn.sohucs.com%2Fimages%2F20200326%2Fffc00cb6bc944e5b9ab2673c4873b24c.jpeg&refer=http%3A%2F%2F5b0988e595225.cdn.sohucs.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1632531279&t=1b9ba84f70ddebdda6601a5576d37c50

In [30]:
conn = sqlite3.connect("./data/database.db")
c = conn.cursor()

# 创建数据库
sql = "drop table page_info;"
c.execute(sql)
conn.commit()

sql = "drop table page_index;"
c.execute(sql)
conn.commit()

sql = """
    create table page_info(
        id INTEGER PRIMARY KEY,
        keyword text not null,
        url text not null
    );
"""
c.execute(sql)
conn.commit()


# 创建索引表
sql = """
    create table page_index(
        id INTEGER PRIMARY KEY,
        keyword text not null,
        page_id INTEGER not null
    );
"""
c.execute(sql)
conn.commit()

In [32]:



# 插入到数据库
i = 0
for line in data3.itertuples():
    title, keyword, url = line[1],line[2],line[3]
    sql = """
        insert into page_info (url, keyword) 
        values('%s', '%s')
    """ % (url, keyword)
    c.execute(sql)
    conn.commit()
    i += 1
    if i % 50 == 0:
        print(i, len(data3))
        
        

sql = "delete from page_index;"
c.execute(sql)
conn.commit()

sql = "select * from page_info;"
res = c.execute(sql)
res = list(res)
length = len(res)

i = 0
for line in res:
    pid, words, url = line[0], line[1], line[2]
    words = words.split(" ")
    for w in words:
        sql = """
        insert into page_index (keyword, page_id) 
        values('%s', '%s')
        """ % (w, pid)
        c.execute(sql)
        conn.commit()
    i += 1
    if i % 100 == 0:
        print(i, length)

50 50258
100 50258
150 50258
200 50258
250 50258
300 50258
350 50258
400 50258
450 50258
500 50258
550 50258
600 50258
650 50258
700 50258
750 50258
800 50258
850 50258
900 50258
950 50258

KeyboardInterrupt:

In [45]:
titles = list(words)
colums = ["title", "url"] + titles
word_vector = pd.DataFrame(columns=colums)
word_vector

Empty DataFrame
Columns: [title, url, Momo, 徐风, 可靠消息, 伴君, ➇, 大家闺秀, HZQ, 魂淡, 款式, 130926, 旺季, 尸人, 蔡徐, 成晓诗, 小宅家, 敌, 黄桷, 希贴, 考据, 披着, 歌词, 备注, 629, 平灵文, 古巨基, 有钱, 片子, 楠神, 小妻, 素色, 纲, 电影频道, 事件, Dance, 期, MyDream, 投射, LL, 场稳, 口腔, 塔尖, 彩霞, 硕文, 20180130, 196, ≡, 昆明, 审判者, 摘星, 心想事成, Ev, 心相印, 推翻, 冬, 李荣浩年, 轻, 纯虐, 粘, 英语, 选品, 151118, 一博饭, 下辈子, PV, 초, 信心, 自私, 粉家, 龙, 迷香, 八鸡, 方言, 截修图, 53, 闹, 彩页, 刘宣廷首, 三周, 水吧, 场馆, BigBang, 偶, 無法, 快本, 啊啊啊, 自由, 牛轧糖, M2, 68, 黑星, CH2, 同是, 内容, 160228, 行觉, KRLS, 水楼, 加护, ...]
Index: []

[0 rows x 34676 columns]

In [2]:
data = pd.read_csv("./data/database.csv")

In [ ]:
data

In [3]:
sql = "alter table page_info add title text;"
conn = sqlite3.connect("./data/database.db")
c = conn.cursor()
c.execute(sql)
conn.commit()

OperationalError: duplicate column name: title

In [8]:
conn = sqlite3.connect("./data/database.db")
c = conn.cursor()
length = len(data)
i = 0
for line in data.itertuples():

    pid = line[0]+1
    title = line[2]
    # print(pid, title)
    
    sql = "UPDATE page_info SET title = '%s' WHERE id = %s "%(title,pid)
    try:
        c.execute(sql)
        conn.commit()
    except:
        continue
    i += 1
    if i % 50 == 0:
        print(i, length)

50 50258
100 50258
150 50258
200 50258
250 50258
300 50258
350 50258
400 50258
450 50258
500 50258
550 50258
600 50258
650 50258
700 50258
750 50258
800 50258
850 50258
900 50258
950 50258
1000 50258
1050 50258
1100 50258
1150 50258
1200 50258
1250 50258
1300 50258
1350 50258
1400 50258
1450 50258
1500 50258
1550 50258
1600 50258
1650 50258
1700 50258
1750 50258
1800 50258
1850 50258
1900 50258
1950 50258
2000 50258
2050 50258
2100 50258
2150 50258
2200 50258
2250 50258
2300 50258
2350 50258
2400 50258
2450 50258
2500 50258
2550 50258
2600 50258
2650 50258
2700 50258
2750 50258
2800 50258
2850 50258
2900 50258
2950 50258
3000 50258
3050 50258
3100 50258
3150 50258
3200 50258
3250 50258
3300 50258
3350 50258
3400 50258
3450 50258
3500 50258
3550 50258
3600 50258
3650 50258
3700 50258
3750 50258
3800 50258
3850 50258
3900 50258
3950 50258
4000 50258
4050 50258
4100 50258
4150 50258
4200 50258
4250 50258
4300 50258
4350 50258
4400 50258
4450 50258
4500 50258
4550 50258
4600 50258
4650 50258
4700 50258
4750 50258
4800 50258
4850 50258
4900 50258
4950 50258
5000 50258
5050 50258
5100 50258
5150 50258
5200 50258
5250 50258
5300 50258
5350 50258
5400 50258
5450 50258
5500 50258
5550 50258
5600 50258
5650 50258
5700 50258
5750 50258
5800 50258
5850 50258
5900 50258
5950 50258
6000 50258
6050 50258
6100 50258
6150 50258
6200 50258
6250 50258
6300 50258
6350 50258
6400 50258
6450 50258
6500 50258
6550 50258
6600 50258
6650 50258
6700 50258
6750 50258
6800 50258
6850 50258
6900 50258
6950 50258
7000 50258
7050 50258
7100 50258
7150 50258
7200 50258
7250 50258
7300 50258
7350 50258
7400 50258
7450 50258
7500 50258
7550 50258
7600 50258
7650 50258
7700 50258
7750 50258
7800 50258
7850 50258
7900 50258
7950 50258
8000 50258
8050 50258
8100 50258
8150 50258
8200 50258
8250 50258
8300 50258
8350 50258
8400 50258
8450 50258
8500 50258
8550 50258
8600 50258
8650 50258
8700 50258
8750 50258
8800 50258
8850 50258
8900 50258
8950 50258
9000 50258
9050 50258
9100 50258
9150 50258
9200 50258
9250 50258
9300 50258
9350 50258
9400 50258
9450 50258
9500 50258
9550 50258
9600 50258
9650 50258
9700 50258
9750 50258
9800 50258
9850 50258
9900 50258
9950 50258
10000 50258
10050 50258
10100 50258
10150 50258
10200 50258
10250 50258
10300 50258
10350 50258
10400 50258
10450 50258
10500 50258
10550 50258
10600 50258
10650 50258
10700 50258
10750 50258
10800 50258
10850 50258
10900 50258
10950 50258
11000 50258
11050 50258
11100 50258
11150 50258
11200 50258
11250 50258
11300 50258
11350 50258
11400 50258
11450 50258
11500 50258
11550 50258
11600 50258
11650 50258
11700 50258
11750 50258
11800 50258
11850 50258
11900 50258
11950 50258
12000 50258
12050 50258
12100 50258
12150 50258
12200 50258
12250 50258
12300 50258
12350 50258
12400 50258
12450 50258
12500 50258
12550 50258
12600 50258
12650 50258
12700 50258
12750 50258
12800 50258
12850 50258
12900 50258
12950 50258
13000 50258
13050 50258
13100 50258
13150 50258
13200 50258
13250 50258
13300 50258
13350 50258
13400 50258
13450 50258
13500 50258
13550 50258
13600 50258
13650 50258
13700 50258
13750 50258
13800 50258
13850 50258
13900 50258
13950 50258
14000 50258
14050 50258
14100 50258
14150 50258
14200 50258
14250 50258
14300 50258
14350 50258
14400 50258
14450 50258
14500 50258
14550 50258
14600 50258
14650 50258
14700 50258
14750 50258
14800 50258
14850 50258
14900 50258
14950 50258
15000 50258
15050 50258
15100 50258
15150 50258
15200 50258
15250 50258
15300 50258
15350 50258
15400 50258
15450 50258
15500 50258
15550 50258
15600 50258
15650 50258
15700 50258
15750 50258
15800 50258
15850 50258
15900 50258
15950 50258
16000 50258
16050 50258
16100 50258
16150 50258
16200 50258
16250 50258
16300 50258
16350 50258
16400 50258
16450 50258
16500 50258
16550 50258
16600 50258
16650 50258
16700 50258
16750 50258
16800 50258
16850 50258
16900 50258
16950 50258
17000 50258
17050 50258
17100 50258
17150 50258
17200 50258
17250 50258
17300 50258
17350 50258
17400 50258
17450 50258
17500 50258
17550 50258
17600 50258
17650 50258
17700 50258
17750 50258
17800 50258
17850 50258
17900 50258
17950 50258
18000 50258
18050 50258
18100 50258
18150 50258
18200 50258
18250 50258
18300 50258
18350 50258
18400 50258
18450 50258
18500 50258
18550 50258
18600 50258
18650 50258
18700 50258
18750 50258
18800 50258
18850 50258
18900 50258
18950 50258
19000 50258
19050 50258
19100 50258
19150 50258
19200 50258
19250 50258
19300 50258
19350 50258
19400 50258
19450 50258
19500 50258
19550 50258
19600 50258
19650 50258
19700 50258
19750 50258
19800 50258
19850 50258
19900 50258
19950 50258
20000 50258
20050 50258
20100 50258
20150 50258
20200 50258
20250 50258
20300 50258
20350 50258
20400 50258
20450 50258
20500 50258
20550 50258
20600 50258
20650 50258
20700 50258
20750 50258
20800 50258
20850 50258
20900 50258